.page-content {
    padding: 16px 0;
}

.page-heading {
    font-size: 20px;
    font-family: Segoe Print;
    font-size: 24px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-list>li {
    clear:both;
    margin-bottom: 30px;
}

.organize-item {
    list-style: none;
}

.post-item {
    border-left: 1px solid #cacaca;
    color: #c05b4d;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 6px;
}

.post-item:hover {
    padding-left: 10px;
    border-left: 3px solid #c05b4d;
    transition: 0.2s ease-out;
}

.post-time {
    display: inline-block;
    margin: 0 10px;
    color: #8a8a8a;
}

.post-summary{
    text-align: center;
}

.post-meta {
    font-family: 'doublevregular', "Microsoft YaHei", "Trebuchet MS", Arial, Verdana, Tahoma, sans-serif;
    color: #aaa;
    line-height: 13px;
    display: inline-block;
    font-size: 13px;
    height: 16px;
    margin-right: 16px;
    -webkit-transition-duration: 0.3s, 0.3s;
    -moz-transition-duration: 0.3s, 0.3s;
    -o-transition-duration: 0.3s, 0.3s;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-title {
    font-family: 'Neucha', 'PingFang SC', 'Microsoft YaHei', sans-serif;
    color: #2a7ae2
}

.pagination {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.pagination .previous {
    float: left;
}

.pagination .next {
    float: right;
}

.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

hr{
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.post-img{
    height:100px;
    width:200px;
}