<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiabby.web.blog.repository.BlogRepository">
    <resultMap id="resultMap" type="com.hiabby.web.blog.entity.Article">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="pubDate" column="pub_date" />
        <result property="changeDate" column="change_date" />
        <result property="summary" column="summary" />
        <result property="content" column="content" />
        <result property="isMd" column="is_md" />
        <result property="isHide" column="is_hide" />
        <result property="isDelete" column="is_delete" />
        <result property="fileName" column="file_name" />
        <result property="tagsId" column="tags_id" />
    </resultMap>

    <select id="getArticleAllNames"  resultType="java.lang.String">
        SELECT file_name FROM article
    </select>

    <select id="getAllShowArticleList"  resultType="com.hiabby.web.blog.entity.ArticleVO">
        SELECT ac.id, ac.title, ac.pub_date as pubDate, ac.change_time as changeDate, ac.summary, ac.content,
                (SELECT name FROM tags tg WHERE ac.id = tg.id) as tagsName
        FROM article ac
        WHERE ac.is_delete = 'FALSE' and ac.is_hide = 'FALSE'
        ORDER BY ac.pub_date DESC;
    </select>

    <select id="getArticleByArticleName"   parameterType="java.lang.String"  resultType="com.hiabby.web.blog.entity.ArticleVO">
        SELECT ac.id, ac.title, ac.pub_date as pubDate, ac.change_time as changeDate, ac.summary, ac.content,
        (SELECT name FROM tags tg WHERE ac.id = tg.id) as tagsName
        FROM article ac
        WHERE ac.is_delete = 'FALSE' AND ac.is_hide = 'FALSE'AND ac.pub_date = #{date} AND ac.title = #{name}
        ORDER BY ac.pub_date DESC;
    </select>

    <insert id="insertArticles" parameterType="java.util.List">
        INSERT INTO article(
          title,pub_date,summary,content,file_name,is_md,is_delete,is_hide
        ) VALUES
        <foreach collection="articleList" item="obj" index="index" separator=",">
            ( #{obj.title},#{obj.pubDate},#{obj.summary},#{obj.content},#{obj.fileName},#{obj.isMd},#{obj.isDelete},#{obj.isHide} )
        </foreach>
    </insert>
</mapper>